bin/
obj/
out/
release/
build/


project.lock.json
project.fragment.lock.json
artifacts/


*.user
*.userosscache
*.suo
*.sln.docstates
*.userprefs


.vscode/
.history/


.vs/
*.dbmdl
*.jfm
*.pdb
*.mdb


TestResults/
*.coverage
*.coveragexml


*.trx
*.opencover.xml
coverage.opencover.xml
coverage.cobertura.xml


*.log
*.bak
*.tmp


*.nupkg
.nuget/
packages/
*.snupkg
*.nuspec
**/packages/*
!**/packages/build/
*.nupkg.metadata
*.nuget.props
*.nuget.targets


.idea/
*.sln.iml


_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user



Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


.DS_Store
.AppleDouble
.LSOverride


*~


node_modules/
npm-debug.log
yarn-error.log


publish/
*.publishsettings


appsettings*.json
*.env


.localtools/

!Bimehcom.Client.*.nupkg